html.aos-init [data-aos] {
  opacity: 0 !important; /* baru diatur AOS */
}

body {
  font-family: 'Poppins', sans-serif;
}

.title{
  color: white;
  font-weight: 600;
}

.gradient-background {
  background: linear-gradient(300deg, #4496F9, #7183E2, #00D9C1);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  color: white;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Navbar */
@media (max-width: 576px) {
  .navbar .title {
    font-size: 1rem;
  }

  .navbar .nav-link {
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
  }

  .navbar .container {
    align-items: center;
  }

  .navbar .nav {
    justify-content: center;
    width: 100%;
    margin-top: 0.5rem;
  }
}



.nav-link.active {
  background-color: #00D9C1 !important;
  color: white !important;
}

.navbar-scrolled {
  background-color: rgba(30, 30, 30, 0.3); /* lebih gelap tapi masih transparan */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  transition: all 0.3s ease;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-brand,
.navbar-scrolled .title,
.navbar-scrolled svg {
  color: #222 !important;
}


.navbar-scrolled .nav-link.active {
  background-color: #00D9C1 !important;
  color: white !important;
}

.nav-link {
  color: white !important;
  font-weight: 600;
}

@media (max-width: 768px) {
  .navbar-collapse {
    background-color: rgba(255, 255, 255, 0.4); /* transparan */
    backdrop-filter: blur(10px); /* efek blur */
    -webkit-backdrop-filter: blur(10px); /* untuk Safari */
    border-radius: 10px;
  }
}

/* Hero section bagian kanan */
.btn-primary:hover {
  background-color: #ffff !important;
  border-color: #4496F9 !important;
  color: #4496F9;
}

.hero-pic{
    object-fit: cover; 
    border: 5px solid white;  
    box-shadow: 0 0 10px rgba(0,0,0,0.2); 
}

/* Hero section bagian kiri */

.hero-section {
  position: relative;
  color: white;
}

.nameHero{
  font-weight: 600;
}

.top-line {
  width: 60px;
  height: 5px;
  background-color: white;
  margin-bottom: 1rem;
}


.nameHero{
  font-weight: 600;
}

.social-wrapper {
  display: flex;
  align-items: center;
  gap: 24px; 
  justify-content: center; 
}

.social-icons {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}

.bottom-line {
  width: 200px;
  height: 3px;
  background-color: white;
  margin: 2rem 0 0 auto;
}

@media (max-width: 991px) {
  .social-wrapper {
    justify-content: center;
    flex-direction: column;
  }

  .social-icons {
    justify-content: center;
  }

  .abouy-img{
    width: 720;
  }

}

.hire-me {
  background-color: #00dfc4;
  border: none;
  padding: 0.5rem 1.2rem;
  border-radius: 200px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/*About me */
.text-quote{
  background-color: #4496F9;
  color: white;
}

.about-me-card{
  box-shadow: 0 1rem 3rem rgba(68, 150, 249, 0.4);
}

.section-header {
  display: flex;
  align-items: center;
  gap: 1rem; 
}

.about-title {
  margin: 0;
  color: #4496F9;
  font-size: 1.5rem;
  font-weight: medium;
}

.about-line {
  flex-grow: 1;
  height: 2px;
  background-color: #4496F9;
}

.lead{
  text-align: justify;
}

.about-image {
  max-width: 300px;
  width: 100%;
  margin: 1rem auto;
}

@media (max-width: 768px) {
  .about-image {
    max-width: 300px;
    display: block;
    margin: 1rem auto;
  }
  .lead{
    font-size: medium;
  }
}

/*Project Section*/

    .specializing-title {
      color: #4496F9;
      font-weight: 600;
    }

    .section-heading {
      font-size: 2.5rem;
      font-weight: 400;
      background-color: #4496F9;
      color: #fff;
      padding: 8px 16px;
      border-radius: 12px;
      display: inline-block;
    }

    .card-title{
      font-weight: 600;
    }

    .card-hover {
      transition: 0.3s;
    }

    .card-hover:hover {
      box-shadow: 0 10px 20px rgba(68, 150, 249, 0.4);
      transform: translateY(-5px);
    }

    .icon-img {
      width: 200px;
      height: 200px;
      margin-bottom: 1rem;
    }

    .card-custom {
      border: none;
      border-radius: 20px;
      padding: 2rem;
    }



/*Project featured
.project-title{
  background-color: #4496F9;
  color: white;
}

.project-1{
  background-color: #008BD9;
  color: white;
}

.project-2{
  background-color: #5D7FFF;
  color: white;
}
.project-3{
  background-color: #7183E2;
  color: white;
}
.project-4{
  background-color: #00d4ec;
  color: white;
}
*/

/*footer*/

.btn-secondary {
  background-color: white !important; 
  border-color: #4496F9 !important;
  color: #4496F9;
}

.btn-secondary:hover {
  color: #4496F9;
}

.btn-alternative {
  background-color: white !important; 
  border-color: #00D9C1 !important;
  color: #00D9C1;
}

.btn-alternative:hover {
  color: #00D9C1;
}



.footer-section {
  background: linear-gradient(300deg, #4496F9, #7183E2, #00D9C1);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

.footer-email{
  background-color: white;
  padding: 8px 16px;
  border-radius: 12px;
  font-weight: bold;
  color: #4496f9;
  display: inline-block;
  font-size: 1.5rem;
}

/* work experience */

.section-about-title{
  font-weight: 600;
}

.section-about-quote{
  background-color: #fff;
  color: #4496f9;
  display: inline-block;
  font-size: 1rem;
  padding: 8px 16px;
  border-radius: 12px;
  font-weight: 600;
}

.card-body .card-title{
  font-weight: 400;
}

.job-title{
  font-weight: 600;
}

@media (max-width: 768px) {
  .card-img {
    max-width: 200px;
    display: block;
    margin: 1rem auto;
  }
}

.project-container .card{
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.project-container .card-text{
  text-align: justify;
}

.card-img-project {
  max-height: 300px;
  width: 100%;
  object-fit: contain;
  image-rendering: auto;
}

@media (max-width: 767.98px) {
  .button-wraper {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  .button-wraper .btn {
    padding: 0.5rem 0.55rem;
    font-size: 0.9rem;
  }

  .button-wraper svg {
    width: 20px; 
    height: 20px;
  }
}

@media (min-width: 768px) {
  .button-wraper {
    position: static;
    transform: none;
    flex-direction: row;
    gap: 1rem;
  }
}

.card-1{
  background-color: #889cf8;
}

.card-2{
  background-color: #5aa9ff;
}

.card-3{
  background-color: #7183E2;
}

.card-4{
  background-color: #4496F9;
}

.card-5{
  background-color: #00D9C1;
}
    
